<?xml version="1.0" encoding="utf-8"?>
<PackageConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Packages>
    <Package id="Bonsai.Core" version="2.7.1" />
    <Package id="Bonsai.Design" version="2.7.0" />
    <Package id="SvgNet" version="3.2.0" />
    <Package id="YamlDotNet" version="12.0.2" />
  </Packages>
  <AssemblyReferences>
    <AssemblyReference assemblyName="Bonsai.Core" />
    <AssemblyReference assemblyName="Bonsai.Design" />
  </AssemblyReferences>
  <AssemblyLocations>
    <AssemblyLocation assemblyName="Bonsai.Core" processorArchitecture="MSIL" location="Packages\Bonsai.Core.2.7.1\lib\net462\Bonsai.Core.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Design.2.7.0\lib\net462\Bonsai.Design.dll" />
    <AssemblyLocation assemblyName="SVG" processorArchitecture="MSIL" location="Packages\SvgNet.3.2.0\lib\net461\SVG.dll" />
    <AssemblyLocation assemblyName="YamlDotNet" processorArchitecture="MSIL" location="Packages\YamlDotNet.12.0.2\lib\net47\YamlDotNet.dll" />
  </AssemblyLocations>
  <LibraryFolders />
</PackageConfiguration>